Backup_2025-10-06/Workflow Backup
{
  "createdAt": "2025-10-04T17:53:09.035Z",
  "updatedAt": "2025-10-04T19:43:20.000Z",
  "id": "Nc7FUtl0QAuy3WD9",
  "name": "Workflow Backup",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -480,
        -128
      ],
      "id": "fe750dbf-672c-4049-bd03-86c1f1ed4d20",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        64,
        -128
      ],
      "id": "503cb88e-dcf1-4a1b-ab3a-2bb6ebf5bc80",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "wM0mmdTsGHZNpgL9",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cadfb461-4b53-46b2-a958-bbbbdfa8e7a3",
              "name": "FolderName",
              "value": "=Backup_{{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        -128
      ],
      "id": "0f53c44c-7fb1-4bcd-ab97-d0d260f24814",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        336,
        -128
      ],
      "id": "db94396f-29cd-4676-ac90-f82dd7640847",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bfa0b973-d12a-48db-8d68-2e549063fb6a",
              "name": "nodes",
              "value": "={{ JSON.stringify($json, null, 2) }}",
              "type": "string"
            },
            {
              "id": "97520752-1aa5-4b74-8c9c-621b44107410",
              "name": "fileName",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        -32
      ],
      "id": "d14ad0a4-fc89-4b1a-970f-723d18348f2b",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "nodes",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        800,
        -32
      ],
      "id": "f8055f6c-e5c9-4237-b4b2-76aee78e78a1",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "costanbeta",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "N8N-Backup",
          "mode": "list",
          "cachedResultName": "N8N-Backup",
          "cachedResultUrl": "https://github.com/costanbeta/N8N-Backup"
        },
        "filePath": "={{ $('Edit Fields').item.json.FolderName }}/{{ $('Edit Fields1').item.json.fileName }}",
        "binaryData": true,
        "commitMessage": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd T')}} Backup completed"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1008,
        -32
      ],
      "id": "56feb95a-c174-4d90-88ec-abbb6196f9b2",
      "name": "Create a file",
      "webhookId": "9e90a125-02b2-42e2-b9e7-d66e8e00de05",
      "credentials": {
        "githubApi": {
          "id": "ZFdEUER0i6oBYVPT",
          "name": "Costan-git"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1zIshf5UwRnevYTlCkX3X-qluT6NLc3is2dAprXSm298",
          "mode": "list",
          "cachedResultName": "N8N Daily backup Anytime",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zIshf5UwRnevYTlCkX3X-qluT6NLc3is2dAprXSm298/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zIshf5UwRnevYTlCkX3X-qluT6NLc3is2dAprXSm298/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Error Message": "={{ $json.error }}",
            "Folder Name": "={{ $('Edit Fields').item.json.FolderName }}/{{ $('Edit Fields1').item.json.fileName }}",
            "File Name": "={{ $('Edit Fields1').item.json.fileName }}",
            "Date Time": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd T')}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date Time",
              "displayName": "Date Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Folder Name",
              "displayName": "Folder Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "File Name",
              "displayName": "File Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1216,
        -32
      ],
      "id": "e4f925e4-0ee3-4dc8-a354-881e84a7e8fb",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OBJF3frqzx5gvvbX",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "costanbeta",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "N8N-Backup",
          "mode": "list",
          "cachedResultName": "N8N-Backup",
          "cachedResultUrl": "https://github.com/costanbeta/N8N-Backup"
        },
        "filePath": "={{ $('Edit Fields').item.json.FolderName }}/README.md",
        "fileContent": "=# N8N Workflow Backup - {{ $('Edit Fields').item.json.FolderName }} \n\nThis folder contains the backup of all N8N workflows as of {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd') }}  \n\n## Backup Details - Backup Time: {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm') }} \n- Total Workflows: {{ $('Get many workflows').all().length }}  \n\n## Files Each workflow is saved as a separate JSON file with the format:  ---  \n\n*Automatically generated by N8N Backup Workflow*",
        "commitMessage": "Done"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        592,
        -224
      ],
      "id": "e706097b-2613-490f-a402-92ec13817b8c",
      "name": "Create Read me MD file",
      "webhookId": "0a4589c9-6f7c-4ea0-878b-b3fa2a40a5b3",
      "credentials": {
        "githubApi": {
          "id": "ZFdEUER0i6oBYVPT",
          "name": "Costan-git"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Create Read me MD file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "3542622f-34c6-48c2-918b-a69deb8fdff7",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-10-04T17:53:09.038Z",
      "updatedAt": "2025-10-04T17:53:09.038Z",
      "role": "workflow:owner",
      "workflowId": "Nc7FUtl0QAuy3WD9",
      "projectId": "GOCt3JGfQ1Lags9f"
    }
  ],
  "tags": []
}