Backup_2025-11-20/Explore
{
  "createdAt": "2025-10-07T14:59:07.241Z",
  "updatedAt": "2025-11-18T16:34:41.000Z",
  "id": "UwdbF5OknHCjVdav",
  "name": "Explore",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        32,
        -128
      ],
      "id": "e4266f76-1f39-4d7f-b8da-69b14f63e02a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "maJAaufS1Bpg5Eub",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -160,
        -352
      ],
      "id": "58065f21-e14e-40e0-a4ed-d1ad94ff8f7b",
      "name": "When chat message received",
      "webhookId": "387625bf-cf6c-4e25-b365-43870e0b48ef"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "you are assistant help make line border icon based on prompt"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        96,
        -352
      ],
      "id": "72f8f532-e725-488e-9ae3-55c5c0ed7136",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        192,
        -128
      ],
      "id": "772edf61-2c21-4579-902a-4e2f16b25ffa",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        336,
        -128
      ],
      "id": "4b6c45db-c1e8-40be-9b6e-4ccb367419b8",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        256,
        128
      ],
      "id": "6c0951f0-dd1a-4e68-8c79-79a045a74fd3",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "LULR4jzeuvmaYrEz",
          "name": "PineconeAPI"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        384,
        0
      ],
      "id": "de247821-6d2c-4c7f-920f-3c825a5736be",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "maJAaufS1Bpg5Eub",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        256,
        288
      ],
      "id": "a2543f0d-b355-4377-969b-54ffa5e4cec9",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "maJAaufS1Bpg5Eub",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -176,
        -544
      ],
      "id": "a8d6cda7-54b5-410e-9cff-627374fa13e9",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "https://github.com/google/material-design-icons/tree/master",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "material-design-icons",
          "mode": "list",
          "cachedResultName": "material-design-icons",
          "cachedResultUrl": "https://github.com/google/material-design-icons"
        },
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1392,
        -352
      ],
      "id": "a0af9c50-fcd9-4a37-b1f9-2ac0a97076ed",
      "name": "Get a file",
      "webhookId": "61538963-fe91-48a4-accf-b7a6ba4ddfdf",
      "credentials": {
        "githubApi": {
          "id": "ZFdEUER0i6oBYVPT",
          "name": "Costan-git"
        }
      }
    },
    {
      "parameters": {
        "resource": "repository",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "https://github.com/vedicscriptures/bhagavad-gita-api",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "bhagavad-gita",
          "mode": "list",
          "cachedResultName": "bhagavad-gita",
          "cachedResultUrl": "https://github.com/vedicscriptures/bhagavad-gita"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1248,
        -240
      ],
      "id": "e3a381d9-c3f5-4ab0-9eda-158c3c0a793c",
      "name": "Get a repository",
      "webhookId": "61538963-fe91-48a4-accf-b7a6ba4ddfdf",
      "credentials": {
        "githubApi": {
          "id": "ZFdEUER0i6oBYVPT",
          "name": "Costan-git"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "limit": 200,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1Mjz_NhW5pDE7YQfHUZnWMQb4OY_3iila",
            "mode": "list",
            "cachedResultName": "Icons",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1Mjz_NhW5pDE7YQfHUZnWMQb4OY_3iila"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        32,
        -544
      ],
      "id": "a9702bb1-6000-4016-bfb2-e8d4ca05f20a",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Yej9q5USQrlokDnR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        240,
        -544
      ],
      "id": "4195e30f-3374-466b-a317-51386746254c",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Yej9q5USQrlokDnR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "code",
          "mode": "list",
          "cachedResultName": "code"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        672,
        -544
      ],
      "id": "6b680391-166e-4bee-a9ce-6aa909a370bf",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "LULR4jzeuvmaYrEz",
          "name": "PineconeAPI"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file-name",
                "value": "={{$json.imageBase64}}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        816,
        -336
      ],
      "id": "1449aecb-e3fb-4c6a-8db5-d97d89e333b7",
      "name": "Default Data Loader1",
      "notesInFlow": false
    },
    {
      "parameters": {
        "jsCode": "return items.map(i => {\n  i.json.imageBase64 = Buffer.from(i.binary.data.data).toString('base64')\n  return i\n})"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        -544
      ],
      "id": "7230dc13-d731-413a-af40-84ee7839c640",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        720,
        -336
      ],
      "id": "a29fc390-0816-4616-87d8-1fa322c974be",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "azgVDDGwbzAqeMpY",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a repository": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "6b11efed-fe43-4c5e-9962-09949564ad45",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-07T14:59:07.246Z",
      "updatedAt": "2025-10-07T14:59:07.246Z",
      "role": "workflow:owner",
      "workflowId": "UwdbF5OknHCjVdav",
      "projectId": "GOCt3JGfQ1Lags9f"
    }
  ],
  "tags": []
}