Backup_2025-10-05/Booking
{
  "createdAt": "2025-10-04T16:26:13.157Z",
  "updatedAt": "2025-10-04T16:26:13.157Z",
  "id": "lpeLWKjQOF1WieeA",
  "name": "Booking",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "3cddcd83-371c-4b01-97bb-2dab4f9dcd5f",
      "name": "Telegram Trigger",
      "webhookId": "089a8829-6970-4c30-9df4-f3df2c1c4e9f"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are a friendly appointment booking assistant. Your goal is to book a meeting.\nIMPORTANT: You MUST first get a specific date and time from the user. If the user's message does not contain a date or time, you MUST ask them for one. Do NOT use the check_availability tool until you have a date and time to check.\nOnce you have a date and time, use the check_availability tool..."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        352,
        0
      ],
      "id": "b60ac216-76d8-483c-aeb7-f7f255b2791f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.text }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        352,
        224
      ],
      "id": "bc7a8418-e30b-4b09-bf43-10ece56dece8",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        224,
        224
      ],
      "id": "8363e5cf-9936-4a1a-8319-513673155fb0",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "vijay.chouhan490@gmail.com",
          "mode": "list",
          "cachedResultName": "vijay.chouhan490@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
        "options": {
          "timezone": {
            "__rl": true,
            "value": "Asia/Kolkata",
            "mode": "list",
            "cachedResultName": "Asia/Kolkata"
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        496,
        224
      ],
      "id": "a552311d-a315-4596-85cd-76925e049084",
      "name": "check_availability",
      "notes": "Use this tool to check if a 30-minute time slot is available on the calendar. You must provide a start time."
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "vijay.chouhan490@gmail.com",
          "mode": "list",
          "cachedResultName": "vijay.chouhan490@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ $json.summary }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        672,
        224
      ],
      "id": "196ff312-b0fc-4255-ad85-ff2e0439cdb4",
      "name": "book_appointment"
    },
    {
      "parameters": {
        "chatId": "=5762405784",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        864,
        0
      ],
      "id": "fb25a80a-ab7e-4309-88ed-08e376a3085f",
      "name": "Send a text message",
      "webhookId": "33db56ef-1c25-4ecc-beb9-61ae67c04181"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ],
      "id": "25fee456-7b07-4996-ad7a-e6ea9b7259ac",
      "name": "Code in JavaScript"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "check_availability": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "book_appointment": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "6ecfd26a-876b-4497-b2c1-3cc4a01d4b5a",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-04T16:26:13.162Z",
      "updatedAt": "2025-10-04T16:26:13.162Z",
      "role": "workflow:owner",
      "workflowId": "lpeLWKjQOF1WieeA",
      "projectId": "GOCt3JGfQ1Lags9f"
    }
  ],
  "tags": []
}